.SelectedWeek .DayPicker-Month {
  border-collapse: separate;
}
.SelectedWeek .DayPicker-WeekNumber {
  outline: none;
}
.SelectedWeek .DayPicker-Day {
  outline: none;
  border: 1px solid transparent;
}
.SelectedWeek .DayPicker-Day--hoverRange {
  background-color: #efefef !important;
}

.SelectedWeek .DayPicker-Day--selectedRange {
  background-color: #fff7ba !important;
  border-top-color: #ffeb3b;
  border-bottom-color: #ffeb3b;
  border-left-color: #fff7ba;
  border-right-color: #fff7ba;
}

.SelectedWeek .DayPicker-Day--selectedRangeStart {
  background-color: #ffeb3b !important;
  border-left: 1px solid #ffeb3b;
}

.SelectedWeek .DayPicker-Day--selectedRangeEnd {
  background-color: #ffeb3b !important;
  border-right: 1px solid #ffeb3b;
}

.SelectedWeek
  .DayPicker-Day--selectedRange:not(.DayPicker-Day--outside).DayPicker-Day--selected,
.SelectedWeek
  .DayPicker-Day--hoverRange:not(.DayPicker-Day--outside).DayPicker-Day--selected {
  border-radius: 0 !important;
  color: black !important;
}
.SelectedWeek .DayPicker-Day--hoverRange:hover {
  border-radius: 0 !important;
}

.text-select-day {
  padding: 0;
  width: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 40px;
  text-align: center;
  background: transparent;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.DayPicker-Footer {
  text-align: center;
}
